# .gitignore
# Project-specific gitignore file.  See gitignore(5) manual for more
# information.

# Elm package directory
elm-stuff

# Elm REPL file
repl-temp-*

# Web application directory
app
!app/app.js
!app/gabe.jpg
!app/index.html
!app/style.css
